#installer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: auto;
    height: 44px;
    width: 90%;
    margin: 0 5%;
    line-height: 44px;
    color: rgba(255,255,255,0.7);
    font-family: "MozTT", Sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px #000;
    background-color: rgba(0,0,0, 0.85);
    border-radius: 3px;
    animation-duration: 1s;
    animation-name: fadeInstaller;
    transition: all .5s ease;
    z-index: 1000;
}

#installer-button,
#installer-close {
    display: inline-block;
    cursor: pointer;
    transition: all .5s ease;
}

#installer-button {
    float: left;
    text-indent: 1em;
}

#installer-button:after {
    content: "\25BE";
    padding-left: .5em;
}

#installer-close {
    position: relative;
    float: right;
    width: 15%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#installer-close:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    font-size: 20px;
    content: "\00D7";
    text-indent: 0;
    text-align: center;
}

#installer-button:hover,
#installer-button:focus,
#installer-close:hover,
#installer-close:focus {
    color: rgba(255,255,255,1);
    outline: none;
}

@keyframes fadeInstaller {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media all and (min-width: 1000px) {
    #installer {
        width: 30%;
        height: 30px;
        margin: 0 35%;
        line-height: 30px;
        font-size: 16px;
    }
    #installer-close:before {
        height: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 999px) {
    #installer {
        width: 60%;
        margin: 0 20%;
    }
}
